<li class="<%- namespace %>-info <%- namespace %>-calc-ignore">
    <span class="<%- namespace %>-song-info"><strong class="<%- namespace %>-song-artist">Artist</strong> - <em class="<%- namespace %>-song-name">Song Name</em></span>
    <div class="<%- namespace %>-song-meta">
        <span class="<%- namespace %>-current-time">&nbsp;</span>
        <div class="<%- namespace %>-progress-bar">
            <div class="<%- namespace %>-seek-bar"><div class="<%- namespace %>-play-bar"></div></div>
        </div>
        <span class="<%- namespace %>-duration">&nbsp;</span>
    </div>
</li>