<div id="' + api.ids.droppableWidget + '" class="droppableQueue medium empty">
    <div id="'+ api.ids.playerBox +'" class="player-box">
        <div id="'+ api.ids.player +'">
            <div id="'+ api.ids.nowStreaming +'">
            </div>
        </div>

        <div id="' + api.ids.playerBack + '" class="player-back"></div>
    </div>
    
    <div id="' + api.ids.queueListWrapper + '" class="queue-list-wrapper">
        <ol id="' + api.ids.queueList + '" class="queue-list"></ol>
    </div>
</div>