<li class="<%- namespace %>-interactive <%- namespace %>-scrabber <%- namespace %>-calc-ignore">
    <div class="<%- namespace %>-scrubber">
        <div class="<%- namespace %>-scrubber-active">
            <span class="<%- namespace %>-scrubber-bg"><img class="<%- namespace %>-scrabber" src="/none" alt=""/></span>
            <span class="<%- namespace %>-scrubber-progress"><img class="<%- namespace %>-scrabber" src="/none" alt=""/></span>
        </div>
        <div class="<%- namespace %>-scrubber-reflect">
            <span class="<%- namespace %>-scrubber-bg"><img class="<%- namespace %>-scrabber" src="/none" alt=""/></span>
            <span class="<%- namespace %>-scrubber-progress"><img class="<%- namespace %>-scrabber" src="/none" alt=""/></span>
        </div>
    </div>
    
    <div class="<%- namespace %>-spectrum">
        <div class="<%- namespace %>-spectrum-active">
            <span class="<%- namespace %>-spectrum-bg"><canvas class="<%- namespace %>-scrabber spectrum-scrub-bg"></canvas></span>
            <span class="<%- namespace %>-spectrum-progress"><canvas class="<%- namespace %>-scrabber spectrum-scrub-prog"></canvas></span>
        </div>
        <div class="<%- namespace %>-spectrum-reflect">
            <span class="<%- namespace %>-spectrum-bg"><canvas class="<%- namespace %>-scrabber spectrum-scrub-bg-reflect"></canvas></span>
            <span class="<%- namespace %>-spectrum-progress"><canvas class="<%- namespace %>-scrabber spectrum-scrub-prog-reflect"></canvas></span>
        </div>
    </div>
    
    <div class="<%- namespace %>-scrubber-hover"></div>
    
    <span class="<%- namespace %>-current-time">&nbsp;</span>
    <span class="<%- namespace %>-duration">&nbsp;</span>
</li>