<div class="<%- namespace %>-empty-notice">
    <hr />
</div>

<div class="<%- namespace %>-gui">
    <ul class="<%- namespace %>-skin">
        <li class="<%- namespace %>-controls">
            <ul>
                <li class="<%- namespace %>-icons <%- namespace %>-previous"><em><em>previous</em></em></li>
                <li class="<%- namespace %>-icons <%- namespace %>-play"><em><em>play</em></em></li>
                <li class="<%- namespace %>-icons <%- namespace %>-pause"><em><em>pause</em></em></li>
                <li class="<%- namespace %>-icons <%- namespace %>-next"><em><em>next</em></em></li>
             </ul>
        </li>
        
        <li class="<%- namespace %>-thumbnail"><figure><img src="/none" alt="" /></figure></li>
        
        <li class="<%- namespace %>-info-minimal <%- namespace %>-calc-ignore">
            <em class="<%- namespace %>-song-name">Song Name</em>
            <strong class="<%- namespace %>-song-artist">Artist</strong>
        </li>
        
        <li class="<%- namespace %>-info <%- namespace %>-calc-ignore">
            <span class="<%- namespace %>-song-info"><strong class="<%- namespace %>-song-artist">Artist</strong> - <em class="<%- namespace %>-song-name">Song Name</em></span>
            <div class="<%- namespace %>-song-meta">
                <span class="<%- namespace %>-current-time">&nbsp;</span>
                <div class="<%- namespace %>-progress-bar">
                    <div class="<%- namespace %>-seek-bar"><div class="<%- namespace %>-play-bar"></div></div>
                </div>
                <span class="<%- namespace %>-duration">&nbsp;</span>
            </div>
        </li>
        
        <li class="<%- namespace %>-interactive <%- namespace %>-scrabber <%- namespace %>-calc-ignore">
            <div class="<%- namespace %>-scrubber">
                <div class="<%- namespace %>-scrubber-active">
                    <span class="<%- namespace %>-scrubber-bg"><img class="<%- namespace %>-scrabber" src="/none" alt=""/></span>
                    <span class="<%- namespace %>-scrubber-progress"><img class="<%- namespace %>-scrabber" src="/none" alt=""/></span>
                </div>
                <div class="<%- namespace %>-scrubber-reflect">
                    <span class="<%- namespace %>-scrubber-bg"><img class="<%- namespace %>-scrabber" src="/none" alt=""/></span>
                    <span class="<%- namespace %>-scrubber-progress"><img class="<%- namespace %>-scrabber" src="/none" alt=""/></span>
                </div>
            </div>
            
            <div class="<%- namespace %>-spectrum">
                <div class="<%- namespace %>-spectrum-active">
                    <span class="<%- namespace %>-spectrum-bg"><canvas class="<%- namespace %>-scrabber spectrum-scrub-bg"></canvas></span>
                    <span class="<%- namespace %>-spectrum-progress"><canvas class="<%- namespace %>-scrabber spectrum-scrub-prog"></canvas></span>
                </div>
                <div class="<%- namespace %>-spectrum-reflect">
                    <span class="<%- namespace %>-spectrum-bg"><canvas class="<%- namespace %>-scrabber spectrum-scrub-bg-reflect"></canvas></span>
                    <span class="<%- namespace %>-spectrum-progress"><canvas class="<%- namespace %>-scrabber spectrum-scrub-prog-reflect"></canvas></span>
                </div>
            </div>
            
            <div class="<%- namespace %>-scrubber-hover">
            </div>
            
            <span class="<%- namespace %>-current-time">&nbsp;</span>
            <span class="<%- namespace %>-duration">&nbsp;</span>
        </li>
        
        <li class="<%- namespace %>-volume">
            <ul>
                <li class="<%- namespace %>-icons <%- namespace %>-mute"><em><em>mute</em></em></li>
                <li class="<%- namespace %>-icons <%- namespace %>-unmute"><em><em>unmute</em></em></li>
                <li class="<%- namespace %>-volume-progress">
                    <div class="<%- namespace %>-volume-progress-bg"><div class="<%- namespace %>-volume-bar-value"></div></div>
                </li>
                <li class="<%- namespace %>-icons <%- namespace %>-volume-max"><em><em>volume max</em></em></li>
            </ul>
            
            <div class="<%- namespace %>-options">
                <ul>
                    <li class="<%- namespace %>-icons <%- namespace %>-shuffle"><em><em>shuffle</em></em></li>
                    <li class="<%- namespace %>-icons <%- namespace %>-repeat"><em><em>repeat</em></em></li>
                    <li class="<%- namespace %>-icons <%- namespace %>-crossfade"><em><em>crossfade</em></em></li>
                </ul>
            </div>
            
        </li>
    </ul>
    
    <div class="clear"></div>
</div>