<li class="<%- namespace %>-volume">
    <ul>
        <li class="<%- namespace %>-icons <%- namespace %>-mute"><em><em>mute</em></em></li>
        <li class="<%- namespace %>-icons <%- namespace %>-unmute"><em><em>unmute</em></em></li>
        <li class="<%- namespace %>-volume-progress">
            <div class="<%- namespace %>-volume-progress-bg"><div class="<%- namespace %>-volume-bar-value"></div></div>
        </li>
        <li class="<%- namespace %>-icons <%- namespace %>-volume-max"><em><em>volume max</em></em></li>
    </ul>
    
    <div class="<%- namespace %>-options">
        <ul>
            <li class="<%- namespace %>-icons <%- namespace %>-shuffle"><em><em>shuffle</em></em></li>
            <li class="<%- namespace %>-icons <%- namespace %>-repeat"><em><em>repeat</em></em></li>
            <li class="<%- namespace %>-icons <%- namespace %>-crossfade"><em><em>crossfade</em></em></li>
        </ul>
    </div>
</li>